<p style="color: green"><%= notice %></p>

<h1>Friend List</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Twitter</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @friends.each do |friend| %>
    <tr>
      <td>
        <%= link_to friend.first_name + ' ' + friend.last_name, friend %>
      </td>
        <td><%= friend.email %></td>
        <td><%= friend.phone %></td>
        <td><%= friend.twitter %></td>
      </tr>
  <% end %>
  </tbody>

<div id="friends">
  
</div>

</table>

<%= link_to "New friend", new_friend_path %>
